* Developed in the late 1980s and first published in 1991, Python was authored by Guido van Rossum, who is still very active in the community.   
  
  
* Python is a flexible language, and there are several ways to use it depending on your particular task.   
  
  
* One thing that distinguishes Python from other programming languages is that it is interpreted rather than compiled  
  
  
* This means that it is executed line by line, which allows programming to be interactive in a way that is not directly possible with compiled languages like Fortran, C, or Java.  

   
* All code in this tutorial is in Python 3

### Python syntax

* Python was originally developed as a teaching language, but its ease of use and clean syntax have led it to be embraced by beginners and experts alike.  
  

* The cleanliness of Python's syntax has led some to call it "executable pseudocode"

Comments are marked by #

In [3]:
# write comments after #
print("Hello World !")

Hello World !

In [4]:
x = 4 # this is one more way of writing comments
print(x)

4

Python does not have special syntax for multi-line comments

In [5]:
# first line comment
# second line comment
# third line comment

### End of line terminates a statement

In [6]:
x = 4
print(x)

4

Expressions can be continued on the next line using the "\" marker:

In [7]:
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8

print(x)

36

Expressions can also be continued on the next line using paranthesis

In [8]:
x = (1 + 2 + 3 + 4 +
     5 + 6 + 7 + 8)

print(x)

36

### Semicolon can terminate a statement

sometimes it is useful to place multiple statements on a single line

### Example -  
Without semicolon

In [9]:
print('Hello World !') print('Welcome to python programming ')

SyntaxError: invalid syntax (<ipython-input-9-4b3490461daa>, line 1)

With semicolon

In [10]:
print('Hello World !'); print('Welcome to python programming ')

Hello World !
Welcome to python programming

### Indentation

In Python Indentation matters  
  
Consider the following example

In [11]:
for i in range(4):
    print(i)

0
1
2
3

In [14]:
for i in range(4):
print(i)

IndentationError: expected an indented block (<ipython-input-14-8b1ba3b21dd1>, line 2)

The use of Indentation helps to enforce the uniform, readable style in Python

The amount of whitespace used for indenting code blocks is up to the user, as long as it is consistent throughout the script.  

  
By convention, most style guides recommend to indent code blocks by four spaces  
  
Jupyter notebooks, Most text code editors like sublime contain Python modes that do four-space indentation automatically.

### Python variables

Variables can be assigned in Python by putting a variable name to the left of the equals (=) sign:

In [17]:
# assign 5 to variable x

x = 5
print(x)

5

In [16]:
x = 3         # x is an integer
print(x)
x = 'hello world !'   # now x is a string
print(x)
x = [1, 2, 3, 4] # now x is a list
print(x)

3
hello world !
[1, 2, 3, 4]

### Built-In data types

### Integers  

The most basic numerical type is the integer. Any number without a decimal point is an integer:

In [18]:
x = 4
type(x)

int

Another feature of Python Integers is that, by default, division up-casts to floating-point type:

In [19]:
5 / 2

2.5

### Floating-Point numbers

In [20]:
x = 0.000005
y = 5e-6
print(x == y)

True

An integer can be explicitly converted to a float with the float constructor

In [21]:
float(1)

1.0

Floating point precision

One thing to be aware of with floating point arithmetic is that its precision is limited, 

which can cause equality tests to be unstable. For example:

In [22]:
0.1 + 0.2 == 0.3

False

This behavior is not unique to Python, but is due to the fixed-precision format of the binary floating-point storage used by most, if not all, scientific computing platforms. All programming languages using floating-point numbers store them in a fixed number of bits, and this leads some numbers to be represented only approximately. We can see this by printing the three values to high precision:

In [23]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

### Complex numbers

Complex numbers are numbers with real and imaginary (floating-point) parts.  

We've seen integers and real numbers before; we can use these to construct a complex number:

In [24]:
complex(1,2)

(1+2j)

Complex numbers have a variety of interesting attributes and methods, which we'll briefly demonstrate here:

In [25]:
c = 3 + 4j

In [26]:
c.real  # real part

3.0

In [27]:
c.imag  # imaginary part

4.0

In [28]:
abs(c)  # magnitude, i.e. sqrt(c.real ** 2 + c.imag ** 2)

5.0

### String Type

Strings in Python are created with single or double quotes:

In [29]:
message_1 = "Hello World !"

message_2 = 'Welcome to Python'

In [30]:
print(message_1)

Hello World !

In [31]:
print(message_2)

Welcome to Python

Python has many extremely useful string functions and methods; here are a few of them:

In [34]:
# length of string
len(message_2)

17

In [36]:
# Make upper-case. See also str.lower()
message_2.upper()

'WELCOME TO PYTHON'

In [37]:
# Capitalize. See also str.title()
message_2.capitalize()

'Welcome to python'

In [38]:
# concatenation with +
message_1 + message_2

'Hello World !Welcome to Python'

In [40]:
# multiplication is multiple concatenation
5 * message_1

'Hello World !Hello World !Hello World !Hello World !Hello World !'

### None Type

In [41]:
type(None)

NoneType

None used in many places, but perhaps most commonly it is used as the default return value of a function.   
  
For example, the print() function in Python 3 does not return anything, but we can still catch its value:

In [42]:
return_value = print('abc')

abc

In [43]:
print(return_value)

None

Likewise, any function in Python with no return value is, in reality, returning None.

### Boolean Type

The Boolean type is a simple type with two possible values: True and False

In [44]:
result = (4 < 5)
result

print(result)

True

In [45]:
type(result)

bool

In [46]:
print(True, False)

True False

In [47]:
bool(2014)

True

In [48]:
bool(0)

False

In [ ]:
Mathematical opeators

a + b
a - b
a * b
a / b - true division
a // b - floor division removing fractional parts
a % b
a ** b
-a
+

In [ ]:
Assignment operators

a = 24
print(a)

In [ ]:
Comparison Operators

a == b | a equal to b
a < b | a less than b
a <= b | a less than or equal to b
a != b | a not equal to b
a > b | a is greater than b
a >= b | a is greater than or equal to b

In [ ]:

Identity and Membership operators
a is b | True if a and b are identical objects
a is not b | True if a and b are note identical objects
a in b | true if a is a member of b
a not in b | true if a is not a member of b

### Examples for all operators

In [49]:
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

In [50]:
# True division
print(11 / 2)

5.5

In [51]:
# Floor division
print(11 // 2)

5

In [52]:
a = 24
print(a)

24

In [53]:
a + 2

26

In [54]:
# 25 is odd
25 % 2 == 1

True

In [55]:
# 66 is odd
66 % 2 == 1

False

In [56]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [57]:
-1 == ~0

True

In [58]:
x = 4
(x < 6) and (x > 2)

True

In [59]:
(x > 10) or (x % 2 == 0)

True

In [60]:
not (x < 6)

False

In [61]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

In [63]:
a = [1, 2, 3]
b = [1, 2, 3]

a == b

True

In [64]:
a is b

False

In [65]:
a is not b

True

In [66]:
1 in [1, 2, 3]

True

In [67]:
2 not in [1, 2, 3]

False