In [ ]:
#Iterators

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in [2,3,4]:
    print(i)

2
3
4

In [3]:
for i in (1,23):
    print(i)

1
23

In [4]:
for i in 234:
    print(i)

TypeError: 'int' object is not iterable

In [5]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [6]:
range(2,11)

range(2, 11)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
#enumerate

In [9]:
l=[2,3,4,5]
for i in range(len(l)):
    print(i, l[i])

0 2
1 3
2 4
3 5

In [11]:
for x,y in enumerate(l):
    print(x,y)

0 2
1 3
2 4
3 5

In [12]:
#zip

In [14]:
l=[2,34,5,6]
m=[3,4,5,6]

for x, y in zip(l,m):
    print(x, y)

2 3
34 4
5 5
6 6

In [ ]:
#map, reduce, filter

In [15]:
square = lambda x : x**2

In [16]:
#find the square of first 30 numbers
for i in range(30):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841

In [17]:
map(square, range(30))

In [18]:
list(map(square, range(30)))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841]

In [20]:
for i in (map(square, range(30))):
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841

In [21]:
list(map(lambda x : x**2, range(30)))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841]

In [23]:
a=[2,3,4,44,5]
b=[3,4,5,5,5]
c=[3,3,3,3,3]

In [24]:
a+b+c

[2, 3, 4, 44, 5, 3, 4, 5, 5, 5, 3, 3, 3, 3, 3]

In [25]:
list(map(lambda x, y, z:x+y+z, a, b, c))

[8, 10, 12, 52, 13]

In [26]:
#filter

In [27]:
is_even = lambda x : x % 2 == 0 
list(filter(is_even, range(100)))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [29]:
list(filter(lambda x:x% 3==0, range(100)))

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [36]:
from functools import reduce
reduce((lambda x, y:x+y), [1,2,3,4,444])

454

In [40]:
from functools import reduce
(reduce((lambda x, y:x+y), [[1,2,3,4,444], [1,2,3,4,444], [1,2,3,4,444],[1,2,3,4,444]]))

[1, 2, 3, 4, 444, 1, 2, 3, 4, 444, 1, 2, 3, 4, 444, 1, 2, 3, 4, 444]

In [41]:
def yrange(n):
    i=0
    while i < n:
        yield i
        i+=2

In [42]:
y=yrange(3)
y

In [43]:
next(y)

0

In [44]:
next(y)

1

In [45]:
next(y)

2

In [50]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [46]:
def gen():
    print('begin')
    for i in range(100):
        print('before yield', i)
        yield i
        print('after yield', i)
    print(end)

In [47]:
f=gen()

In [48]:
next(f)

begin
before yield 0

0

In [51]:
next(f)

after yield 0
before yield 1

1

In [52]:
next(f)

after yield 1
before yield 2

2

In [59]:
def gen():
    print('begin')
    for i in range(100):
        print('before yield', i)
    return i

In [ ]:
class gen1:

In [55]:
mumbai = gen1() #instantiate a class
blr = gen1()
hyd = gen1()

begin
before yield 0
before yield 1
before yield 2
before yield 3
before yield 4
before yield 5
before yield 6
before yield 7
before yield 8
before yield 9
before yield 10
before yield 11
before yield 12
before yield 13
before yield 14
before yield 15
before yield 16
before yield 17
before yield 18
before yield 19
before yield 20
before yield 21
before yield 22
before yield 23
before yield 24
before yield 25
before yield 26
before yield 27
before yield 28
before yield 29
before yield 30
before yield 31
before yield 32
before yield 33
before yield 34
before yield 35
before yield 36
before yield 37
before yield 38
before yield 39
before yield 40
before yield 41
before yield 42
before yield 43
before yield 44
before yield 45
before yield 46
before yield 47
before yield 48
before yield 49
before yield 50
before yield 51
before yield 52
before yield 53
before yield 54
before yield 55
before yield 56
before yield 57
before yield 58
before yield 59
before yield 60
before yield 61
before yield 62
before yield 63
before yield 64
before yield 65
before yield 66
before yield 67
before yield 68
before yield 69
before yield 70
before yield 71
before yield 72
before yield 73
before yield 74
before yield 75
before yield 76
before yield 77
before yield 78
before yield 79
before yield 80
before yield 81
before yield 82
before yield 83
before yield 84
before yield 85
before yield 86
before yield 87
before yield 88
before yield 89
before yield 90
before yield 91
before yield 92
before yield 93
before yield 94
before yield 95
before yield 96
before yield 97
before yield 98
before yield 99

99

In [ ]:
#Modules

In [ ]:
clf=RandomForestClassifier()

clf.fit(x, y)

clf.prediction(y_test)

clf.feat_imp()