In [ ]:
#Python basics and advanced

#Pandas

- Read data from different data sources (Excel, csv, DB, any other data store )
- Manipulate data
- Apply different transformations

#Matplotlib

- Plotting library
- different charts

#Sklearn

- Machine learning Library 
- Can be used for text, Image, Tabular
- Linear and Non -linear ML algo

#Numpy

#Spark

- Scala 
- Real time cluster setup
- 20 Node cluster setup

#Hive, Elastic Map Reduce, Amazon Web Services, Hadoop

#MlSpark

#Deep Learning

#Tensorflow and Keras

In [ ]:
#Python Basics

x=12

In [2]:
print('Hello')

Hello

In [3]:
print(12)

12

In [4]:
print('hello')

hello

In [5]:
#numpy
#pandas
#matplotlib

In [6]:
num =10


lower=[]
upper=[]

for i in range(10):
    if(i<num):
        lower.append(i)
    else:
        upper.append(i)
        

print(lower)
print(upper)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]

In [7]:
# hello

#

#
#

In [8]:
a=10

In [9]:
print(a)

10

In [10]:
#int
#float
#complex
#bool
#str
#NoneType

In [11]:
x=1

In [12]:
type(x)

int

In [13]:
x=1.00

In [14]:
type(x)

float

In [15]:
c=1+2j

In [16]:
type(c)

complex

In [17]:
x=True

In [18]:
type(x)

bool

In [19]:
x='abc'

In [20]:
type(x)

str

In [21]:
x=None
#default return value of a function

In [22]:
type(x)

NoneType

In [23]:
val=print(12)

12

In [24]:
print(val)

None

In [25]:
print(12)

12

In [ ]:
Mathematical opeators

a + b
a - b
a * b
a / b - true division
a // b - floor division removing fractional parts
a % b
a ** b
-a
+

In [ ]:
Assignment operators

a = 24
print(a)

In [ ]:
Comparison Operators

a == b | a equal to b
a < b | a less than b
a <= b | a less than or equal to b
a != b | a not equal to b
a > b
a >= b

In [ ]:

Identity and Membership operators
a is b | True if a and b are identical objects
a is not b | True if a and b are note identical objects
a in b | true if a is a member of b
a not in b | true if a is not a member of b

In [26]:
#Identity and Membership

a is b

NameError: name 'b' is not defined

In [27]:
# Built-in Data Structures

#list

a= [1,2,3]
print(a)

[1, 2, 3]

In [28]:
#dictionary
{'a':1, 'b':2, 'c':3}

{'a': 1, 'b': 2, 'c': 3}

In [30]:
#tuple

a=(1,22,3)
print(a)

(1, 22, 3)

In [31]:
#set
a={1,2,3}
print(a)

{1, 2, 3}